input[type="radio"] {
  margin: 10px;
}

input[type="number"] {
  width: 100px;
}

label {
  margin: 5px;
  font-size: 1.5em;
}

.float-right {
    float: right;
}

input[type="radio"]:not(:checked) ~ label {
  pointer-events: none;
  color: #aaaaaa;
}

label input, label select {
  pointer-events: inherit;
  color: inherit;
}

.first-group {
  padding-bottom: 1.5em;
}

.separator {
  padding: 1.5em 0;
  border-top: 1px solid black;
}

textarea {
    resize: none;
    height: 100px;
    width: 100%;
}
