@media all and (max-width: 450px) {
    /* when in menu */
    .box {
        width: 412px;
    }
}

@media all and (max-width: 400px), (min-width: 600px) {
    /* when in toolbar or fullscreen */
    .box {
        width: 600px;
    }
}

.box {
    display: block;
}

textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #eeeeee;
    border-bottom: 1px solid black;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.content {
    max-height: 400px;
    overflow: auto;
}

.item {
    flex-basis: 33%;
    box-shadow: 0 0 0 1px 0 black;
    height: 1.2em;
    cursor: default;
}

.clip {
    overflow: hidden;
    white-space: nowrap;
}

.center {
    text-align: center;
    padding: 0px 10px;
}

.right {
    text-align: right;
}

.sorting {
    color: blue;
}
