@media all and (max-width: 450px) {
    /* when in menu */
    .box {
        width: 412px;
    }
}

@media all and (max-width: 400px), (min-width: 600px) {
    /* when in toolbar or fullscreen */
    .box {
        width: 600px;
    }
}

.box {
    display: block;
}

textarea {
    resize: none;
    height: 100px;
    width: calc(100% - 4px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #eeeeee;
    border-bottom: 1px solid black;
}

.bold {
    font-weight: bold;
    text-align: center;
}

#search {
    width: calc(100% - 16px);
}

.content {
    max-height: 400px;
    overflow: auto;
}

.item {
    flex-basis: 33%;
    box-shadow: 0 1px 0 -1px black;
    height: 1.2em;
    cursor: default;
}

.item.column {
    box-shadow: 0 0 0 1px black;
}

.clip {
    overflow: hidden;
    white-space: nowrap;
}

.center {
    text-align: center;
    padding: 0 10px;
}

.right {
    text-align: right;
}

.float-right {
    float: right;
}

.sorting {
    background-image: url("../icons/chevron.svg");
    background-size: 0.75em 0.5em;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.sorting.reverse {
    background-image: url("../icons/chevron-down.svg");
}

.selected {
    background-color: #cccccc;
}
