@media all and (min-width: 600px) {
    .box {
        display: block;
        width: 600px;
    }
}

textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
    border-bottom: 1px solid black;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.content {
    max-height: 400px;
    overflow: auto;
}

.item {
    flex-basis: 33%;
    box-shadow: 0 0 0 1px 0 black;
    height: 1.2em;
}

.clip {
    overflow: hidden;
    white-space: nowrap;
}

.pad {
    padding: 0px 10px;
}
