textarea {
    resize: none;
    height: 100px;
    width: 598px;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header {
    width: 100%;
    flex: 1;
}

.header tr td {
    width: 33.33%;
}

#selection-table tr td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.outer-wrapper {
    display: flex;
    width: 600px;
    max-height: 400px;
}

.flex-container {
    box-sizing: border-box;
    width: 600px;
    align-self: center;
    background-color: #eeeeee;
    display: flex;
    flex-flow: column;
    max-height: 400px;
}

.flex-item {
    width: 600px;
    flex: 1;
    max-height: 400px;
    overflow: auto;
}
